{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block css %}
<style>
    .card-img-top {
        width: 15cm;
        height: 20cm;
        object-fit: contain;
    }

    .product-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
{% endblock %}

{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <h1 align="center">{{ product.name }}</h1>
        <div class="product-image">
            <img src="{{ product.preview|mediapath }}" class="bd-placeholder-img card-img-top" alt="Product Image">
        </div>
        <p><strong>Цена: {{ product.price }}</strong></p>
        <p align="justify">Описание: {{ product.description }}</p>
{% endblock %}