{% extends 'catalog/base.html' %}

{% load my_tags %}

{% block content %}

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
        <h2 class="card-title">
            {% if object %}
                Редактирование продукта
            {% else %}
                Добавление продукта
            {% endif %}
        </h2>
        <div class="row mb-3">
            <div class="col-sm-2"></div>
            <hr>
            <div class="col-sm-10">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">
                        {% if object %}
                            Сохранить
                        {% else %}
                            Создать
                        {% endif %}
                    </button>
                </div>
        </div>
            <h2 class="card-title">
                {% if object %}
                Редактирование версии
                {% else %}
                Добавление версии
                {% endif %}
            </h2>
            <div class="row mb-3">
                <div class="col-sm-2"></div>
                <hr>
                <div class="col-sm-10">
                    {{ formset.managment_form }}
                    {% for form in formset.forms %}
                    {{ form.as_p }}
                    {% endfor %}
                </div>
            </div>
        </form>
        {% endblock %}